<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <meta name="description" content="">


    <title>{{ client_name }}</title>

    <link rel="stylesheet" href="/build/css/base.css">
    <link rel="stylesheet" href="/build/css/PageLoginSignup.css">
    <link rel="icon" href="/build/img/favicon.ico" type="image/ico"/>
    <link rel="shortcut icon" href="/build/img/favicon.ico"/>
</head>

<body>
    <div class="SectionLoginForm">
        <div class="SectionLoginForm-inner Card">
            <div class="SectionLoginForm-header Card-header">
                <img class="SectionLoginForm-header-img" src="{{ client_logo }}">
                <div class="SectionLoginForm-header-title">
                    Welcome to {{ client_name }}
                </div>
            </div>
            <div class="SectionLoginForm-body Card-body">
                <form class="SectionLoginForm-form fl-form large-form" action="" method="post">
                        <button type="submit" formmethod="post" class="SectionLoginForm-form-cta btn btn-info btn-large btn-submit">Log In With Freelancer</button>
        </div>
    </div>

</body>

</html>